<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- CSS파일  -->
    <link rel="stylesheet" href="/public/css/total.css">


    <title>게시판</title>
  </head>
  <body>
    
    <div>


      <%- include('login.ejs')  %>
        <%- include('nav.ejs')  %>


    
    <form style="padding: 10px;" action="/edit?_method=PUT" method="POST">
      <input value="<%= post._id %>" name="id" style="display : none">
        <div class="mb-3">
            <label>제목</label>
            <input type="text" value="<%= post.글제목 %>" class="form-control" name="post_title">
          </div>
        <div class="mb-3">
          <label>내용</label>
          <input type="text" value="<%= post.글내용 %>" class="form-control" name="post_content">
        </div>
        <button type="submit" class="btn btn-danger">등록</button>
      </form>

    </div>

    <!-- 로그인 버튼 클릭 시 애니메이션 -->
    <%- include('loginani.ejs') %>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    
  </body>
</html>