<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>


    <title>게시판</title>
</head>

<body>

  <div>


    <%- include('login.ejs') %>
      <%- include('nav.ejs') %>



        <div>
          <form style="padding: 10px;">
            <div class="card col-md-12">
              <div class="card-body">

                <div class="row col-md-12">
                  <div class="mb-3 col-md-10">

                    <h3>자유게시판</h3>
                    <br />

                    <label for="post_title" class="form-label">제목</label>
                    <input type="text" class="form-control" id="post_title" name="post_title">
                  </div>
                </div>

                <div class="row col-md-12">
                  <div class="mb-3 col-md-10">
                    <label for="post_content" class="form-label">내용</label>
                    <textarea class="form-control" id="post_content" name="post_content" rows="15"></textarea>
                  </div>
                </div>

                <button type="button" id="post" class="btn btn-outline-danger" data-id="<%= user.id %>">등록</button>
              </div>
          </form>

        </div>
  </div>

  <%- include('loginani.ejs') %>

    <script>

      $('#post').click((e) => {
        let title = $("#post_title").val();
        let content = $("#post_content").val();
        let id = e.target.dataset.id;
        console.log(title)
        console.log(content)
        if (title === '') {
          alert('제목을 작성해주세요')
        } else if (content === '') {
          alert('내용을 작성해주세요.')
        } else {
          $.ajax({
            method: "POST",
            url: '/free/post',
            data: { title: title, content: content, id: id },
            success: (data) => {
              alert(data)
              let url = "/free/board/1"
              location.replace(url);
            }
          })
        }

      })

    </script>

</body>

</html>