<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>
    <script type="text/javascript" src="../../public/se2/js/HuskyEZCreator.js" charset="utf-8"></script>

    <title>글쓰기</title>
</head>

<body>

  <div>


    <%- include('login.ejs') %>
      <%- include('nav.ejs') %>



        <div>
          <form style="padding: 10px;">
            <div class="card col-md-12">
              <div class="card-body">

                <div class="row col-md-12">
                  <div class="mb-3 col-md-8">

                    <h3>자유게시판</h3>
                    <br />

                    <label for="title" class="form-label">제목</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                </div>

                <div class="row col-md-12">
                  <div class="mb-3 col-md-8">
                    <label for="content" class="form-label">내용</label>
                    <textarea class="form-control" id="content" name="content" rows="15"></textarea>
                  </div>
                </div>

                <button type="button" id="post" class="btn btn-outline-danger" data-id="<%= user.id %>">등록</button>
              </div>
          </form>

        </div>
  </div>

  <%- include('loginani.ejs') %>


    <script>

      let oEditors = [];
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "content",
        sSkinURI: "../../public/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      });

      $('#post').click((e) => {

        oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);

        let title = $("#title").val();
        let content = document.getElementById("content").value;
        let id = e.target.dataset.id;
        if (title == null || title == "") {
          alert("제목을 입력해주세요.");
          $("#title").focus(); return;
        } if (content == "" || content == null || content == '&nbsp;' || content == '<br>' || content == '<br/>' || content == '<p>&nbsp;</p>') {
          alert("본문을 작성해주세요.");
          oEditors.getById["content"].exec("FOCUS");
          return;
        }

        let result = confirm("작성하시겠습니까?");
        if (result) {
          $.ajax({
            method: "POST",
            url: '/free/post',
            data: { title: title, content: content, id: id },
            success: (data) => {
              alert(data)
              let url = "/free/board/1"
              location.replace(url);
            }
          })

        }
      })



    </script>
</body>

</html>