<!doctype html>
<html>
  
  <head>
    <%- include('script.ejs') %>
    
    <title>
      <%=post.post_title %>
    </title>
  </head>
  
  <body>
    <%- include('login.ejs') %>
    <%- include('nav.ejs') %>
    
    
    <div class="container">
      <div class="card w-100 mt-4 text-left">
        <div class="card-body">
          <h4 class="card-title"><%=post.post_title %></h4>    
          <p class="card-text">작성자 : <%=post.writer %> &nbsp;&nbsp;&nbsp; 작성일 : <%=post.date %>
          <button style="display: inline-block;" class="btn btn-sm btn-outline-primary" id="like" data-id="<%= post._id%>">추천</button>
          </p>
                
            <hr>
            <p class="card-text" id="free-content">
              <%=post.post_content %>
            </p>
            <hr>
            
            <% try {%>
              <% if(user.id===post.writer){ %>
                <form style="display: inline-block;" method="POST" action="/free/edit">
              <input type="hidden" name="_id" value="<%= post._id %>">
              <input type="hidden" name="writer" value="<%= post.writer %>">
              <input type="submit" id="free-edit" class="btn btn-outline-success" data-id="<%= post._id%>" value="수정">
            </form>
            <button type="button" id="free-del" class="btn btn-outline-danger" data-id="<%= post._id%>" data-writer="<%= post.writer %>">삭제</button>
            <% }%>
            <% }catch{}%>
            <a id="list" class="btn btn-outline-primary" href="/free/board/1" data-id="<%= post._id%>">목록</a>
          </div>
          <form class="m-4" method="POST" action="/free/comment">

            <h5><b>댓글</b></h5>
            <textarea type="text" id="comment" style="min-width:700px;min-height: 100px;" name="comment"></textarea>
            <br/>
            <button type="button" id="comment-regist" class="btn btn-outline-primary" data-id="<%= post._id%>">등록</button>

            <% if(comment!=''){ %>
            <table class="table mt-4">
              <thead>
                <tr style="background-color: rgb(233, 232, 232);">
                  <th scope="col" style="text-align: center;">댓글</th>
                  <th scope="col" style="text-align: center;">작성자</th>
                  <th scope="col" style="text-align: center;">작성일</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0;i<comment.length;i++){ %>
                  <tr>
                    <td width="62%" class="p-2" align="center" id="free-comment">
                      <%= comment[i].comment %>
                    </td>
                    <td width="8%" class="p-2" align="center">
                      <%= comment[i].writer %>
                    </td>
                    <td width="25%" class="p-2" align="center">
                      <%= comment[i].date %>
                        
                      <% try {%>
                      <% if(user.id===comment[i].writer){ %>
                        
                        <svg class="comment-edit" data-no="<%=i%>" data-writer="<%= comment[i].writer %>"
                          data-id="<%= comment[i]._id %>" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                        <svg class="comment-delete" data-writer="<%= comment[i].writer %>" data-id="<%= comment[i]._id %>"
                          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-x-lg" id="com-del-<%=i%>" viewBox="0 0 16 16">
                          <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                        </svg>
                        <% }%>
                        <% }catch{}%>
                      
                    </td>
                  </tr>
                  <tr id="comment-edit-<%=i%>">
                    <td width="70%" align="center">
                      <input class="p-2" id="edit-input-<%=i%>" value="<%= comment[i].comment %>">
                    </td>
                    <td width="8%" />
                    <td width="25%" align="center">
                      <button type="button" class="btn btn-sm btn-outline-primary p-2 comment-put" data-id="<%= comment[i]._id %>" data-writer="<%= comment[i].writer %>" data-no="<%=i%>">수정</button>
                      <button type="button" class="btn btn-sm btn-outline-danger p-2 comment-put-cancle"
                        data-no="<%=i%>">취소</button>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <% } %>
          </form>
        </div>
      </div>

      <script>

        // 엔터키 변환
        let content = $('#free-content').text();
        $('#free-content').html(content)
        let comment = $('#free-comment').text();
        $('#free-comment').html(comment)

        // 게시글 삭제 버튼 클릭시
        $('#free-del').click(function (e) {
          let flag=confirm('정말로 해당 게시글을 삭제하시겠습니까?')
          if(flag===true){
          var postno = e.target.dataset.id;
          var writer = e.target.dataset.writer;
          $.ajax({
            method: 'DELETE',
            url: '/free/del',
            data: { _id: postno, writer: writer },
            success: (data) => {
              alert(data)
              if (data == "삭제되었습니다.") {
                let url = "/free/board/1"
                location.replace(url);
              }
            }
          }).fail(function (data, textStatus, xhr) {
            alert(data);
          })
        }
        })

        // 댓글 수정 이미지 클릭시
        $('.comment-edit').click((e) => {
          let commno = e.target.dataset.no;
          let writer = e.target.dataset.writer;
          $(`#comment-edit-${commno}`).show()
        })


        // 댓글 수정 버튼 클릭시
        $('.comment-put').click((e) => {
          let number = e.target.dataset.no;
          let commNo = e.target.dataset.id;
          let writer = e.target.dataset.writer;
          let comment = $(`#edit-input-${number}`).val();

          $.ajax({
            method: 'PUT',
            url: '/free/comment',
            data: { _id: commNo, writer: writer, comment:comment },
            success: (data) => {
              alert(data)
              history.go();
            }
          }).fail((data, textStatus, xhr) => {
            console.log(data)
            alert(data);
          })
        })


        // 댓글 수정 취소 버튼 클릭시
        $('.comment-put-cancle').click((e) => {
          let commno = e.target.dataset.no;
          let flag = confirm('내용 입력을 취소하시겠습니까?')
          if (flag === true) {
            $(`#comment-edit-${commno}`).hide()
          }
        })


        // 댓글 삭제 이미지 클릭시
        $('.comment-delete').click((e) => {
          let flag = confirm('해당 댓글을 삭제하시겠습니까?')
          if(flag===true){
          let comment = e.target.dataset.id;
          let writer = e.target.dataset.writer;
          $.ajax({
            method: 'DELETE',
            url: '/free/comment',
            data: { _id: comment, writer: writer },
            success: (data) => {
              alert(data)
              history.go();

            }
          }).fail((data, textStatus, xhr) => {
            alert(data);
          })
        }
        })

        // 추천 버튼 클릭시
        $('#like').click(function (e) {
          var postno = e.target.dataset.id;
          $.ajax({
            method: 'POST',
            url: '/free/detail/like',
            data: { _id: postno }
          }).done(function (data, textStatus, xhr) {
            alert(data);
          })
        })

        // 댓글 작성
        $('#comment-regist').click((e)=>{
          let postid = e.target.dataset.id;
          let comment = $('#comment').val();
          $.ajax({
            method:'POST',
            url: '/free/comment',
            data: {postid:postid,comment:comment},
            success: (data) => {
              alert(data)
              if(data == '등록되었습니다.'){
                history.go();
              }
            }
          })
        })



      </script>




      <!-- 로그인 버튼 클릭 시 애니메이션 -->
      <%- include('loginani.ejs') %>



</body>

</html>