<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>

    <title>Main</title>
  </head>
  <body>

        <!-- 로그인 모달창 -->
        
    

        <%- include('login.ejs')  %>

        
        <%- include('nav.ejs')  %>

      <div class="jumbotron">
        <h1 class="display-6">Welcome, Evertime!</h1>
        <p class="lead">에버타임에 오신 것을 환영합니다.</p>
      </div>

      <%- include('carousel.ejs') %>

      <%- include('footer.ejs') %>
     
      <!-- 로그인 버튼 클릭 시 애니메이션 -->
      <%- include('loginani.ejs') %>


  </body>
</html>