<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>

    <title>관리자 페이지</title>
  </head>
  <body>
    
    <%- include('login.ejs')  %>
    <%- include('nav.ejs')  %>
     
    
      <h4 class="ml-2 my-3 ">회원 리스트</h4>
      
      <table class="table table-hover text-center">
        <thead>
          <tr>
        <th scope="col" style="width: 8%">회원번호</th>
        <th scope="col" style="width: 8%">아이디</th>
        <th scope="col" style="width: 8%">이름</th>
        <th scope="col" style="width: 11%">이메일</th>
        <th scope="col" style="width: 11%">가입일</th>
        <th scope="col" style="width: 11%">등급</th>
        <th scope="col" style="width: 12%">관리</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<member.length;i++){ %>
        <tr>
      <ul class="memberlist list-group list-group-horizontal justify-content-center">
        <td style="width: 8%" id="board-post"><%= member[i]._id %></td>
        <td style="width: 8%" id="board-post"><%= member[i].id %></td>
        <td style="width: 8%" id="board-post"><%= member[i].name  %></td>
        <td style="width: 11%" id="board-post"><%= member[i].email %></td>
        <td style="width: 11%" id="board-post"><%= member[i].joinDate %></td>
        <td style="width: 11%" id="board-post"><%= member[i].auth %></td>
        <td style="width: 12%" id="board-post">
          
          <button class="user_delete btn-danger" data-id="<%= member[i]._id %>">탈퇴</button>
        </td>
      </tr>
      <% }; %>
    </tbody>
  </table>

  <div class="justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        
        <% if(page!=1){ %>
        <li class="page-item mt-2"><a class="page-link" id="page-first" href="/manage/members/1"> << </a></li>
        <li class="page-item mt-2"><a class="page-link" id="page-prev" href="/manage/members/<%=page-5%>"> < </a></li>
        <% } else { %>
        <li class="page-item mt-2"><a class="page-link" id="page-first"> << </a></li>
        <li class="page-item mt-2"><a class="page-link" id="page-prev"> < </a></li>
          <% } %>
        <% if(endPage > totalPage){ %>
          <% endPage = totalPage} %>
        <% for(let i=startPage;i<=endPage;i++){ %>
          <% if(i == page){%>
          <li class="page-item mt-2"><a class="page-link" id="page-<%=i%>"><b><%=i%></b></a></li>
          <% }else{ %>
          <li class="page-item mt-2"><a class="page-link" id="page-<%=i%>" href="/manage/members/<%=i%>"><%=i%></a></li>
        <% } %>
        <% }%>
      
        <% if(page!=totalPage){ %>
        <li class="page-item mt-2"><a class="page-link" id="page-next" href="/manage/members/<%=page+5%>"> > </a></li>
        <li class="page-item mt-2"><a class="page-link" id="page-last" href="/manage/members/<%=totalPage%>"> >> </a></li>
        <% } else { %>
          <li class="page-item mt-2"><a class="page-link" id="page-next"> > </a></li>
        <li class="page-item mt-2"><a class="page-link" id="page-last"> >> </a></li>
          <% } %>
      </ul>
    </nav>
  </div>
    
      

      <script>
        
        $('.user_delete').click(function(e){
          flag=confirm('해당 회원정보를 삭제하시겠습니까?');
          if(flag==true){
          // 콜백함수에 파라미터 e를 입력후 target 메서드를 통해 data-id를 호출하여 memberno 변수 선언하여 할당
          var memberno = e.target.dataset.id;
          //ajax 통신을 통해 삭제 구현
          $.ajax({
          method : 'DELETE',
          url : '/member/del',
          data : {_id : memberno}
        }).done((data, textStatus, xhr) => {
          alert(data)
          history.go();
        }).fail(function(xhr,textStatus,errorThrown){
          console.log(xhr,textStatus,errorThrown);
          
        });
      };
    })
        
      </script>
      
      <%- include ("loginani.ejs") %>


  </body>
</html>