<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>

  <title>마이페이지</title>
</head>

<body>
  <%- include('login.ejs') %>
    <%- include('nav.ejs') %>




      <div>
        <form style="padding: 10px;" action="/member/edit?_method=PUT" method="POST">
          <div class="card col-md-12">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <h3><%= userinfo.id %> 님의 마이페이지입니다.</h3>
                  <br/>
                </div>
              </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <label for="my-nick" class="col-sm-1 col-form-label">닉네임 : </label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="my-nick" value="<%= userinfo.nickname %>">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <label for="my-name" class="col-sm-1 col-form-label">이름 : </label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="my-name" name="my-name" value="<%= userinfo.name %>">
                  </div>
                </div>
              <div class="form-group row">
                <div class="col-md-4"></div>
                <label for="my-email" class="col-sm-1 col-form-label">이메일 : </label>
                <div class="col-sm-3">
                  <input type="email" class="form-control" id="my-email" name="my-email" value="<%= userinfo.email %>">
                  <input type="hidden" id="my-keyid" name="keyid" value="<%= userinfo._id %>">
                </div>
              </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <label for="my-pw" class="col-sm-1 col-form-label">암호 확인 : </label>
          <div class="col-sm-3">
            <input type="password" class="form-control" id="my-pw" name="my-pw">
          </div>
        </div>
        </form>
        <button type="button" id="useredit" class="btn btn-outline-danger" style="float:right;">수정</button>
      </div>


      <%- include('loginani.ejs') %>


        <script>

          $('#useredit').click(() => {
            let userPW = $("#my-pw").val();
            let userNick = $("#my-nick").val();
            let userName = $("#my-name").val();
            let userEmail = $("#my-email").val();
            let userNo = $("#my-keyid").val();

            let reg_nick = /^([a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{1,10}$/;
            let reg_name = /^([a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{1,10}$/;
            let reg_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;

            if (userPW === '') {
              alert('비밀번호를 입력해주세요')
            } else if (!reg_nick.test(userNick)) {
              alert('닉네임은 2~10자리 내의 한글,영문만 사용가능합니다.')
            } else if (!reg_name.test(userName)) {
              alert('이름은 2~10자리 내의 한글,영문만 사용가능합니다.')
            } else if (!reg_email.test(userEmail)) {
              alert('이메일 양식을 확인해주세요.')
            } else {
              $.ajax({
                method: 'PUT',
                url: '/member/edit',
                data: { userPW: userPW, userNick: userNick, userName: userName, userEmail: userEmail, userNo: userNo },

              }).done((data, textStatus, xhr) => {
                alert(data)
                if (data != '비밀번호가 틀렸습니다.') {
                  location.href = "/"
                } else {
                  $("#my-pw").val('');
                }
              })
            }


          })








        </script>

</body>

</html>