<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>

    <title>마이페이지</title>
</head>

<body>
  <%- include('login.ejs') %>
    <%- include('nav.ejs') %>




      <div>
        <form style="padding: 10px;" action="/member/edit?_method=PUT" method="POST">
          <div class="card col-md-12">
            <div class="card-body">
              <h3 class="text-center"><%= userinfo.id %> 님의 마이페이지입니다.</h3>
              <%- include('myselect.ejs') %>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-5">
                    <br />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <label for="currentpw" class="col-sm-1 col-form-label">현재 비밀번호</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="currentpw">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <label for="changepw" class="col-sm-1 col-form-label">새 비밀번호</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="changepw">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <label for="checkpw" class="col-sm-1 col-form-label">새 비밀번호 확인</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="checkpw">
                    <button type="button" id="editpw" class="btn btn-outline-danger mt-4"
                      style="float:right" data-id="<%= userinfo._id %>">수정</button>
                  </div>
                </div>


        </form>
      </div>


      <%- include('loginani.ejs') %>


        <script>

          $('#editpw').click((e) => {
            let currentPw = $("#currentpw").val();
            let changePw = $("#changepw").val();
            let checkPw = $("#checkpw").val();
            let userNo = e.target.dataset.id;
            let reg_pw = /(?=.*\d)(?=.*[a-zA-ZS]).{8,}/;

            if (currentPw === '') {
              alert('현재 비밀번호를 입력해주세요')
            } else if (changePw === '') {
              alert('새 비밀번호를 입력해주세요')
            } else if (checkPw === '') {
              alert('새 비밀번호 확인을 입력해주세요')
            } else if (!reg_pw.test(changePw)) {
              alert("새 비밀번호는 문자,숫자를 1개 이상 포함한 8자리 이상만 가능합니다.")
            } else if (changePw != checkPw) {
              alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.")
            } else {
              $.ajax({
                method: "PUT",
                url: "/member/password",
                data: { currentPw: currentPw, changePW: changePw, userNo: userNo, checkPw: checkPw },
                success: (data) => {
                  alert(data);
                }}
                ).fail((data, textStatus, xhr)=>{
                  alert(data)
                }).done((data, textStatus, xhr) => {
                if (data === '비밀번호가 변경되었습니다.') {
                  location.href = "/"
                }}
              )}
            })








        </script>

</body>

</html>