<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>

    <title>자유게시판 관리</title>
</head>

<body class="board-body">

  <%- include('login.ejs') %>
    <%- include('nav.ejs') %>


    <div class="row">
      <div class="col-md-1"></div>
      <h2 class="ml-2 my-3 text-center font-weight-bold">자유게시판 관리</h2>
    </div>      
      
    <div class="row">
      <div class="col-md-1"></div>
      <table class="table text-center col-md-10">
        <thead>
          <tr>
            <th scope="col" style="width: 5%">No</th>
            <th scope="col" style="width: 45%">글제목</th>
            <th scope="col" style="width: 5%">작성자</th>
            <th scope="col" style="width: 15%">작성일</th>
            <th scope="col" style="width: 7%">조회수</th>
            <th scope="col" style="width: 5%">추천</th>
            <th scope="col" style="width: 10%">관리</li>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<post.length;i++){ %>
            <ul class="postlist list-group list-group-horizontal justify-content-center text-center">
              <td style="width: 5%" id="board-post">
                <%= post[i]._id %>
              </td>
              <td style="width: 45%; text-align: left; cursor:pointer" id="board-post" class="pl-5"
                onclick="location.href='/qna/detail/<%= post[i]._id %>'">
                <%= post[i].post_title %>
                  <% if(post[i].commentcnt>0){ %>
                    <b>[<%=post[i].commentcnt%>]</b>
                    <% } %>
              </td>
              <td style="width: 5%" id="board-post">
                <%= post[i].writer %>
              </td>
              <td style="width: 15%" id="board-post">
                <%= post[i].date %>
              </td>
              <td style="width: 5%" id="board-post">
                <%= post[i].viewcounts %>
              </td>
              <td style="width: 5%" id="board-post">
                <%= post[i].recommend %>
              </td>
              <td>
                <button class="post_delete btn-danger" data-id="<%= post[i]._id %>">삭제</button>
              </td>
              </tr>
              <% }; %>
        </tbody>
      </table>

      <div class="col-md-1"></div>
    </div>

      <div class="justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <% if(page!=1){ %>
              <li class="page-item mt-2"><a class="page-link" id="page-first" href="/manage/freeboard/1">
                  << </a>
              </li>
              <li class="page-item mt-2"><a class="page-link" id="page-prev" href="/manage/freeboard/<%=page-5%>">
                  < </a>
              </li>
              <% } %>
                <% if(endPage>totalPage){ %>
                  <% endPage=totalPage} %>
                    <% for(let i=startPage;i<=endPage;i++){ %>
                      <% if(i==page){%>
                        <li class="page-item mt-2"><a class="page-link" id="page-<%=i%>"><b>
                              <%=i%>
                            </b></a></li>
                        <% }else{ %>
                          <li class="page-item mt-2"><a class="page-link" id="page-<%=i%>"
                              href="/manage/freeboard/<%=i%>">
                              <%=i%>
                            </a></li>
                          <% } %>
                            <% }%>

                              <% if(page!=totalPage){ %>
                                <li class="page-item mt-2"><a class="page-link" id="page-next"
                                    href="/manage/freeboard/<%=page+5%>"> > </a></li>
                                <li class="page-item mt-2"><a class="page-link" id="page-last"
                                    href="/manage/freeboard/<%=totalPage%>"> >> </a></li>
                                <% } %>
          </ul>
        </nav>
      </div>


      <script>

        $('.post_delete').click(function (e) {
          flag = confirm('해당 게시글을 삭제하시겠습니까?');
          if (flag === true) {
            var postno = e.target.dataset.id;
            $.ajax({
              method: 'DELETE',
              url: '/manage/post',
              data: { _id: postno },
              success: (data) => {
                alert(data)
                $(this).parents('ul').fadeOut;
              }
            }).fail(function (xhr, textStatus, errorThrown) {
              console.log(xhr, textStatus, errorThrown);
            });
          };
        })



      </script>


</body>

</html>