<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>


  <title>질답게시판</title>
</head>

<body class="board-body">
  <%- include('login.ejs')  %>
  <%- include('nav.ejs') %>

  <div class="row">
    <div class="col-md-1"></div>
    <h2 class="ml-2 my-3 font-weight-bold">질답게시판</h2>
  </div>
  
  <div class="row">
      <div class="col-md-1"></div>
      <table class="table text-center col-md-10">
        <thead>
          <tr>
            <th scope="col" style="width: 5%">No</th>
            <th scope="col" style="width: 45%">글제목</th>
            <th scope="col" style="width: 5%">작성자</th>
            <th scope="col" style="width: 15%">작성일</th>
            <th scope="col" style="width: 5%">조회수</th>
            <th scope="col" style="width: 5%">추천</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<post.length;i++){ %>
          <tr>
            <td style="width: 5%" id="board-post"><%= post[i]._id %></td>
            <td style="width: 45%; text-align: left; cursor:pointer" id="board-post" class="pl-5"
            onclick="location.href='/qna/detail/<%= post[i]._id %>'">
            <%= post[i].post_title %>
            <% if(post[i].commentcnt>0){ %>
              <b>[<%=post[i].commentcnt%>]</b>
            <% } %>
          </td>
            <td style="width: 5%" id="board-post"><%= post[i].writer %></td>
            <td style="width: 15%" id="board-post"><%= post[i].date %></td>
            <td style="width: 5%" id="board-post"><%= post[i].viewcounts %></td>
            <td style="width: 5%" id="board-post"><%= post[i].recommend %></td>
          </tr>
          <% }; %>
        </tbody>
      </table>
    </div>

    <div class="container input-group mb-2" style="width:500px;height: 50px;display: flex;">
      <select id="search-option">
        <option>제목</option>
        <option>내용</option>
        <option>제목+내용</option>
        <option>작성자</option>
      </select>
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
      <% if(user!=undefined){ %>
      <a href="/qna/write" class="ml-2 mb-2 btn btn-outline-success">글쓰기</a>
      <% }else{ %>
      <a id="writebtn" href="#" class="ml-2 mb-2 btn btn-outline-success">글쓰기</a>
      <% } %>
    </div>

    <div class="justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
          <% if(page!=1){ %>
          <li class="page-item"><a class="page-link" id="page-first" href="/qna/board/1"> << </a></li>
          <li class="page-item"><a class="page-link" id="page-prev" href="/qna/board/<%=page-5%>"> < </a></li>
          <% } %>
          <% if(endPage>totalPage){ %>
            <% endPage = totalPage} %>
          <% for(let i=startPage;i<=endPage;i++){ %>
            <% if(i == page){%>
            <li class="page-item"><a class="page-link" id="page-<%=i%>"><b><%=i%></b></a></li>    
            <% }else{ %>
            <li class="page-item"><a class="page-link" id="page-<%=i%>" href="/qna/board/<%=i%>"><%=i%></a></li>
          <% } %>
          <% }%>
        
          <% if(page!=totalPage){ %>
          <li class="page-item"><a class="page-link" id="page-next" href="/qna/board/<%=page+5%>"> > </a></li>
          <li class="page-item"><a class="page-link" id="page-last" href="/qna/board/<%=totalPage%>"> >> </a></li>
          <% } %>
        </ul>
      </nav>
    </div>

  <%- include('loginani.ejs') %>
  
  <script>
    $("#search").click(function(){
      let input = $("#search-input").val()
      let option = $("#search-option").val()
      window.location.replace(`/qna/search/1?value=${input}?option=${option}`)
    })

    $("#writebtn").click( () => {
      alert('로그인 후 이용 가능합니다.');
      $("#login").click();
      $("#user_id").focus();
    })

    

  </script>

</body>

</html>