<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>
    <script type="text/javascript" src="../../public/se2/js/HuskyEZCreator.js" charset="utf-8"></script>


    <title>게시글 수정</title>
  </head>
  <body>
    
    <div>


      <%- include('login.ejs')  %>
        <%- include('nav.ejs')  %>


    
        <div>
            <div class="card col-md-12">
              <div class="card-body">
  
                <div class="row col-md-12">
                  <div class="mb-3 col-md-8">
                    
                    <h3>질답게시판</h3>
                    <br/>
                    <h5>게시글 수정</h5>
                    <br />
  
              <input value="<%= qnapost._id %>" name="id" style="display : none">
              <label for="title" class="form-label"><b>제목</b></label>
              <input type="text" value="<%= qnapost.post_title %>" class="form-control" id="title" name="title">
            </div>
            </div>
            <div class="row col-md-12">
              <div class="mb-3 col-md-8">
                <label for="content" class="form-label"><b>내용</b></label>
                <textarea class="form-control" id="content" name="content" rows="15"><%=qnapost.post_content%></textarea>
          </div>
          </div>
        <button type="button" id="edit" class="btn btn-outline-danger" data-id="<%= qnapost._id %>">수정</button>

    </div>


    <script>

      let oEditors = [];
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "content",
        sSkinURI: "../../public/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      });


      $('#edit').click((e) => {

      oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);

      let title = $("#title").val();
      let content = document.getElementById("content").value;
      let postno = e.target.dataset.id
      if (title == null || title == "") {
        alert("제목을 입력해주세요.");
        $("#title").focus(); return;
      } if (content == "" || content == null || content == '&nbsp;' || content == '<br>' || content == '<br/>' || content == '<p>&nbsp;</p>') {
        alert("본문을 작성해주세요.");
        oEditors.getById["content"].exec("FOCUS");
        return;
      }

      let result = confirm("수정하시겠습니까?");
      if (result) {
        $.ajax({
          method: "PUT",
          url: '/qna/edit',
          data: { title: title, content: content, postno: postno },
          success: (data) => {
            alert(data)
            let url = `/qna/detail/${postno}`
            if(data === "수정되었습니다."){
            location.replace(url);
          }}
        })

      }
      })

    </script>

    
  </body>
</html>