<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>


    <title>게시글 수정</title>
  </head>
  <body>
    
    <div>


      <%- include('login.ejs')  %>
        <%- include('nav.ejs')  %>


    
        <div>
          <form style="padding: 10px;" action="/qna/edit?_method=PUT" method="POST">
            <div class="card col-md-12">
              <div class="card-body">
  
                <div class="row col-md-12">
                  <div class="mb-3 col-md-10">
                    
                    <h3>질답게시판</h3>
                    <br/>
                    <h5>게시글 수정</h5>
                    <br />
  
              <input value="<%= qnapost._id %>" name="id" style="display : none">
              <label for="title" class="form-label"><b>제목</b></label>
              <input type="text" value="<%= qnapost.post_title %>" class="form-control" id="title" name="title">
            </div>
            </div>
            <div class="row col-md-12">
              <div class="mb-3 col-md-10">
                <label for="content" class="form-label"><b>내용</b></label>
                <textarea class="form-control" id="content" name="content" rows="15"><%=qnapost.post_content%></textarea>
          </div>
          </div>
        <button type="submit" class="btn btn-danger">등록</button>
      </form>

    </div>

    <!-- 로그인 버튼 클릭 시 애니메이션 -->
    <%- include('loginani.ejs') %>

    
  </body>
</html>