<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>


    <title>게시글 수정</title>
  </head>
  <body>
    
    <div>


      <%- include('login.ejs')  %>
        <%- include('nav.ejs')  %>


    
    <form style="padding: 10px;" action="/qna/edit?_method=PUT" method="POST">
      <input value="<%= qnapost._id %>" name="id" style="display : none">
        <div class="mb-3">
            <label>제목</label>
            <input type="text" value="<%= qnapost.post_title %>" class="form-control" name="post_title">
          </div>
        <div class="mb-3">
          <label>내용</label>
          <input type="text" value="<%= qnapost.post_content %>" class="form-control" name="post_content">
        </div>
        <button type="submit" class="btn btn-danger">등록</button>
      </form>

    </div>

    <!-- 로그인 버튼 클릭 시 애니메이션 -->
    <%- include('loginani.ejs') %>

    
  </body>
</html>