<!doctype html>
<html>

<head>
    <%- include('script.ejs') %>

    <title>Main</title>
</head>

<body>

    <!-- 로그인 모달창 -->



    <%- include('login.ejs') %>


        <%- include('nav.ejs') %>
            <div class="m-4" style="height: 100vw;">
                <div class="mt-4">
                    <h4 class="text-center mb-3">업로드 페이지</h4>
                </div>

                <div class="row col-md-4 mt-4">
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        <input type="file" name="file" id="post-file">
                        <input type="submit" class="btn btn-outline-success" value="업로드">
                    </form>
                </div>




                <%- include('footer.ejs') %>
            </div>
            <!-- 로그인 버튼 클릭 시 애니메이션 -->
            <%- include('loginani.ejs') %>


</body>

</html>